:root {
  --black-color: #131313;
  --red-color: #ff4040;
  --gray-color: #6f6f6f;
  --white-color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
  color: var(--black-color);
}

body._lock {
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.page {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1.1em;
  color: var(--white-color);
  background-color: var(--black-color);
  text-transform: uppercase;
  padding: 28px calc(75px - 18px) 28px 75px;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: var(--red-color);
}

/* ===Header=== */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  z-index: 11;
}

.header__container {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 100px;
}

.header__logo img {
  height: 100%;
}

.menu {
  margin-right: 70px;
}

.menu__list {
  display: flex;
  gap: 10px;
}

.menu__link {
  display: block;
  text-transform: uppercase;
  padding: 41px 30px;
  transition: all 0.5s ease;
}

.menu__link:hover {
  color: var(--white-color);
  background-color: var(--black-color);
}

.icon-menu {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--black-color);
  transition: all 0.5s ease 0s;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: 50%;
  transform: translate(0, -50%);
  transform-origin: left center;
}

.icon-menu._active span {
  transform: translate(-100%, -50%);
}

.icon-menu._active::before {
  top: 50%;
  transform: rotate(45deg) translate(0, -50%);
}

.icon-menu._active::after {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

@media (max-width: 1024px) {
  .header__container {
    min-height: 80px;
  }

  .header__logo {
    height: 80px;
  }

  .menu {
    margin-right: 45px;
  }

  .menu__link {
    padding: 31px 30px;
  }
}

@media (max-width: 768px) {
  .header__container {
    min-height: 60px;
  }

  .header__logo {
    height: 60px;
  }

  .menu {
    margin-right: 35px;
  }

  .menu__link {
    padding: 21px 30px;
  }
}

@media (max-width: 651px) {
  .menu {
    position: fixed;
    top: 60px;
    left: -100%;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--white-color);
    padding-top: 10px;
    transition: left 0.5s ease 0s;
  }

  .menu._active {
    left: 0;
  }

  .menu__item {
    text-align: center;
    width: 100%;
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menu__link {
    width: 100%;
    font-size: 24px;
    padding: 31px 0;
  }

  .icon-menu {
    display: block;
  }
}
/* =========== */

/* ===Intro== */

.intro {
  padding: 190px 0 75px;
}

.intro__container {
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap; */
}

.intro__content {
  flex: 0 1 570px;
}

.intro__slider {
  flex: 0 1 630px;
  overflow: hidden;
}

.intro__title {
  margin: 72px 0 5px;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2; /* 77/64 */
  max-width: 540px;
}

.intro__subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.21; /* 39/32 */
  color: var(--gray-color);
  margin-bottom: 60px;
}

.intro__text {
  max-width: 420px;
}

.intro__text + .intro__text {
  margin-top: 20px;
}

.intro__button {
  margin-top: 80px;
}

.intro__swiper-wrapper {
  max-width: 630px;
  position: relative;
  overflow: clip;
  max-height: 525px;
}

.intro__swiper {
  height: 100%;
}

.intro__swiper .swiper-slide {
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
}

.intro__swiper .swiper-intro__img {
  width: 100%;
  position: relative;
  padding-top: 83.333333%; /* 525/630 */
}

.intro__swiper .swiper-intro__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro__swiper .swiper-pagination {
  top: 52px;
  right: 0;
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.intro__swiper .swiper-pagination-bullet {
  background-color: var(--black-color);
  opacity: 1;
  width: 2px;
  height: 25px;
}

.intro__swiper .swiper-pagination-bullet-active {
  background-color: var(--red-color);
}

.features-intro {
  margin-top: 25px;
  /* display: flex;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.features-intro__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 160px;
  min-height: 58px;
}

.features-intro__num {
  font-weight: 700;
  text-transform: uppercase;
}

.features-intro__descr {
  margin: auto 0;
}

@media (max-width: 1173px) {
  .intro {
    padding: 140px 0 50px;
  }

  .intro__title {
    margin: 30px 0 5px;
    font-size: 48px;
  }

  .intro__subtitle {
    font-size: 28px;
    margin-bottom: 45px;
  }
}

@media (max-width: 950px) {
  .intro__container {
    flex-direction: column;
    gap: 25px;
  }

  .intro__content,
  .intro__slider {
    flex: 0 1 auto;
  }

  .intro__title,
  .intro__text {
    max-width: none;
  }

  .intro__swiper-wrapper {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .intro {
    padding: 80px 0 25px;
  }

  .intro__button {
    margin-top: 50px;
  }
}

@media (max-width: 664px) {
  .features-intro {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 510px) {
  .intro__title {
    font-size: 42px;
  }

  .intro__subtitle {
    font-size: 24px;
  }

  .intro__button {
    margin-top: 40px;
  }

  .button {
    text-align: center;
    letter-spacing: 1rem;
    padding: 25px 0 25px 16px;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .features-intro {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

/* ========== */
/* ===Description=== */
.description {
  padding: 75px 0;
}

.description__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 60px;
}

.description__image {
  grid-row: span 6;
}

.content-description__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18; /* 19/16 */
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content-description__text {
  max-width: 450px;
}

@media (max-width: 1024px) {
  .description {
    padding: 50px;
  }
  .description__container {
    gap: 25px 40px;
  }

  .description__image {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  .description__image img {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .description {
    padding: 30px 0;
  }

  .description__container {
    grid-template-columns: 1fr;
    gap: 25px 0;
  }

  .content-description__text {
    max-width: none;
  }
}
/* ================= */

/* ===Features=== */
.features {
  padding: 75px 0;
}

.features__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18; /* 19/16 */
  text-transform: uppercase;
  margin-bottom: 40px;
}

.features__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.features__image {
  align-self: center;
  margin: 0 auto;
}

.features__image img {
  max-width: 100%;
  max-height: 400px;
}

.content-features {
  display: grid;
  row-gap: 32px;
  max-width: 570px;
  margin: 0 auto;
}

.content-features__titel {
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  padding: 3px;
  background-color: var(--black-color);
  margin-bottom: 10px;
}

.content-features__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.content-features__item-descr {
  flex: 0 1 285px;
}

.content-features__item + .content-features__item {
  margin-top: 5px;
}

@media (max-width: 1024px) {
  .features {
    padding: 50px 0;
  }

  .features__wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .content-features {
    row-gap: 22px;
  }

  .features__title {
    margin-bottom: 25px;
  }
}

@media (max-width: 640px) {
  .features {
    padding: 30px 0;
  }
}
/* ============== */
